<!-- Start breadcrumb Area -->
<!-- <div class="rbt-breadcrumb-default ptb--100 ptb_md--50 ptb_sm--30 bg-gradient-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h2 class="title">Login & Register</h2>
                    <ul class="page-list">
                        <li class="rbt-breadcrumb-item"><a href="index.html">Home</a></li>
                        <li>
                            <div class="icon-right"><i class="feather-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item active">Login & Register</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- End Breadcrumb Area -->

<div class="rbt-elements-area bg-color-white rbt-section-gap">
    <div class="container">
        <div class="row gy-5 row--30">

            <div class="col-lg-6">
                <div class="rbt-contact-form contact-form-style-1 max-width-auto">
                    <h3 class="title">Iniciar Sesión</h3>
                    <form class="max-width-auto">
                        <div class="form-group">
                            <input name="email" [(ngModel)]="email" type="text" />
                            <label>Email</label>
                            <span class="focus-border"></span>
                        </div>
                        <div class="form-group">
                            <input name="contraseña" [(ngModel)]="password" type="password">
                            <label>Contraseña</label>
                            <span class="focus-border"></span>
                        </div>

                        <div class="row mb--30">
                            <div class="col-lg-6">
                                <div class="rbt-checkbox">
                                    <input type="checkbox" id="rememberme" name="rememberme">
                                    <label for="rememberme">Recordar contraseña</label>
                                </div>
                            </div>
                            <!-- <div class="col-lg-6">
                                <div class="rbt-lost-password text-end">
                                <a class="rbt-btn-link" href="#">¿Perdiste tu contraseña?</a>
                                </div>
                            </div> -->
                        </div>

                        <div class="form-submit-group">
                            <button type="button" (click)="login()" class="rbt-btn btn-md btn-gradient hover-icon-reverse w-100">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">Iniciar Sección</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="rbt-contact-form contact-form-style-1 max-width-auto">
                    <h3 class="title">Registrar</h3>
                    <form class="max-width-auto">
                        <div class="form-group">
                            <input name="register-email" [(ngModel)]="email_register" type="email" autoComplete="email" />
                            <label>Correo Electronico *</label>
                            <span class="focus-border"></span>
                        </div>

                        <div class="form-group">
                            <input name="register_user" [(ngModel)]="name" type="text">
                            <label>Nombre *</label>
                            <span class="focus-border"></span>
                        </div>
                        <div class="form-group">
                            <input name="register_user" [(ngModel)]="surname" type="text">
                            <label>Apellidos *</label>
                            <span class="focus-border"></span>
                        </div>

                        <div class="form-group">
                            <input name="register_password" [(ngModel)]="password_register" type="password">
                            <label>Contraseña *</label>
                            <span class="focus-border"></span>
                        </div>

                        <div class="form-group">
                            <input name="register_conpassword" [(ngModel)]="password_repit" type="password">
                            <label>Repetir Contraseña *</label>
                            <span class="focus-border"></span>
                        </div>

                        <div class="form-submit-group">
                            <button type="button" (click)="register()" class="rbt-btn btn-md btn-gradient hover-icon-reverse w-100">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">Registrar</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- <div class="rbt-newsletter-area bg-gradient-6 ptb--50">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5 col-md-12 col-12">
                <div class="inner">
                    <div class="section-title text-center text-lg-start">
                        <h4 class="title"><strong>Subscribe</strong> <br /> <span class="w-400">Our Newsletter</span></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-12 text-start text-sm-end">
                <form action="#" class="newsletter-form-1 me-0">
                    <input type="email" placeholder="Enter Your E-Email">
                    <button type="submit" class="rbt-btn btn-md btn-gradient hover-icon-reverse">
                        <span class="icon-reverse-wrapper">
                    <span class="btn-text">Subscribe</span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div> -->